body.blak-theme {
    background-color:Black; 
    color: limegreen;}

body.crmsn-theme {
    background-color: crimson;
    color: lightblue;}

body.prpl-theme {
    background-color: blueviolet;
    color: white;}

