body.blak-theme {
    background-color:Black; 
    color: limegreen;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;}

body.crmsn-theme {
    background-color: crimson;
    color: lightblue;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;}

body.prpl-theme {
    background-color: blueviolet;
    color: white;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif}


body.blu-theme {
    background-color:aqua ;
    }


body.grn-theme {
    background-color: chartreuse;
    }


body.hzl-theme {
    background-color: goldenrod;
    }