body.blak-theme {
    background-color:Black; 
    color: limegreen;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;}

body.crmsn-theme {
    background-color: crimson;
    color: lightblue;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;}

body.prpl-theme {
    background-color: blueviolet;
    color: white;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif}


body.blu-theme {
    background-color:aqua ;
    }


body.grn-theme {
    background-color: chartreuse;
    }


body.hzl-theme {
    background-color: goldenrod;
    }



body.orng-theme {
    background-color: coral;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body.gandalf-theme {
    font-family: cursive;
    background-color: grey;
    color: aqua;
}


body.sans-theme {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightskyblue;
    color: whitesmoke
}


body.cyberpunk-theme {
    background:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: limegreen;
}


body.steampunk-theme {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

